.cmm-mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 400px;
  max-width: 75vw;
  z-index: 10;
  background-color: white;
  transition: transform .3s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translateX(-100%);
}

.cmm-mobile-menu-wrapper.open-mobile-menu {
  transform: translateX(0);
}

.cmm-mobile-menu-wrapper a {
  color: inherit;
}

.mobile-menu-mask {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: none;
}

.mobile-menu-header {
  padding: 23px 30px;
  color: white;
  background-color: #09356a;
}

.mobile-menu-open svg {
  width: 24px;
  height: auto;
  margin-top: -4px;
  color: #09356a;
}

.mobile-menu-open {
  padding: 15px;
}

.cmm-mobile-menu-wrapper .cmm-mobile-ul--level-1 {
  margin: 0;
  padding: 15px 30px 60px 30px;;
  color: #09356a;
}

.cmm-mobile-li {
  position: relative;
}

.cmm-mobile-li--level-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .75em;
}

.cmm-mobile-ul:not(.cmm-mobile-ul--level-1) {
  display: none;
  padding: 15px 15px 0 15px;
  margin: 0;
}

.cmm-mobile-li:not(.cmm-mobile-li--level-1) {
  margin-bottom: 10px;
}

.cmm-mobile-li.active > .cmm-mobile-ul {
  display: block;
}

.cmm-mobile-li--level-3 {
  font-size: 1rem;
  font-weight: 400;
}  

.cmm-mobile-ul--level-2 {
  padding: 35px 15px 5px 15px;
}

.cmm-mobile-li--level-2 {
  font-size: 1.25rem;
  font-weight: 500;
}

button.toggle-submenu {
  display: inline-block;
  height: 20px;
  width: 26px;
  outline: none;
  position: absolute;
  top: 5px;
  right: 0;
}

.toggle-submenu .line-1,
.toggle-submenu .line-2 {
  background-color: #09356a;
  width: 16px;
  height: 3px;
  transition: .3s;
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  pointer-events: none;
  top: 50%;
}

.toggle-submenu .line-1 {
  transform: rotate(45deg);
  left: 0;
}

.toggle-submenu .line-2 {
  transform: rotate(-45deg);
  left: 10px;
}

.toggle-submenu.active .line-1 {
  transform: rotate(-45deg);
}

.toggle-submenu.active .line-2 {
  transform: rotate(45deg);
}

.mobile-menu-container a,
.mobile-menu-container span {
  display: inline-block;
}
